body {
    background-color: #dddddd;
    margin: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
    text-decoration: none;
    color: #0000bb;
}

a:hover {
    color: #9999ee;
}


#friend-list {
    font-size: 1.0em;
}

#friend-list td {
    border: 1px solid #999999;
    margin: 10x;
    padding: 10px;
    height: 40px;
}

#friend-list th {
    text-align: left;
}

#friend-list .friend-name {
    width: 200px;
}
#friend-list .friend-meet-freq {
    width: 200px;
}
#friend-list .friend-notes {
    width: 400px;
}

#friend-list .friend-just-seen {
    padding: 0px;
}

#friend-list form {
    margin: 0px;
}

#friend-list button {
    background-color: #ff7700;
    height: 40px;
    margin: 0px;
    padding: 10px;
    font-size: 1.0em;
}

.validation-errors {
    border: 2px solid #990000;
    display: block;
    padding: 5px;
    color: #990000;
}

.container {
    width: 1000px;
    margin: 0px auto 0px auto;
}

.logo {
    font-size: 1.3em;
    color: #ffff00;
}

.banner {
    background-color: #777777;
}

.navigation {
    background-color: #999999;
}

.header-list a {
    color: #ffffff;
}

.header-list a:hover {
    color: #990000;
}

.header-list {
    display: block;
    font-size: 1.0em;
    font-style: none;
    padding: 20px 0px 20px 0px;
}

.header-list ul {
    padding: 0px;
    margin: 0px;
}

.header-list li {
    display: inline-block;
    margin: 0px 20px 0px 0px;
}

.banner:after {
    content:'';
    display:block;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}
